{% extends "base.html.twig" %}

{% block content %}
<div class="container">
    <h1 class="page-header">
        <img src="img/feedbox128.png" alt="FeedBox"/> Install
    </h1>

    <form method="post" class="form-horizontal well">
        <fieldset>
            <legend>Database</legend>
            <div class="control-group{% if error.database_adapter %} error{% endif %}">
                <label class="control-label" for="database_adapter">Adapter</label>

                <div class="controls">
                    <select id="database_adapter" name="database_adapter" class="input-block-level">
                        <option value="sqlite"{% if input.database_adapter == 'sqlite' %} selected{% endif %}>SQLite</option>
                        <option value="mysql"{% if input.database_adapter == 'mysql' %} selected{% endif %}>MySQL</option>
                    </select>
                    {% if error.database_adapter %}<span class="help-block">{{ error.database_adapter }}</span>{% endif %}
                </div>
            </div>
            <div class="control-group{% if error.database_dsn %} error{% endif %}">
                <label class="control-label" for="database_dsn">DSN</label>

                <div class="controls">
                    <input type="text" id="database_dsn" name="database_dsn" class="input-block-level" placeholder="mysql:host=localhost;dbname=feedbox"
                           value="%data_dir%/database.sdb" required  value="{{ input.database_dsn }}">
                    {% if error.database_dsn %}<span class="help-block">{{ error.database_dsn }}</span>{% endif %}
                </div>
            </div>
            <div class="control-group{% if error.database_username %} error{% endif %}">
                <label class="control-label" for="database_username">Username</label>

                <div class="controls">
                    <input type="text" id="database_username" name="database_username" class="input-block-level" value="{{ input.database_username }}">
                    {% if error.database_username %}<span class="help-block">{{ error.database_username }}</span>{% endif %}
                </div>
            </div>
            <div class="control-group{% if error.database_password %} error{% endif %}">
                <label class="control-label" for="database_password">Password</label>

                <div class="controls">
                    <input type="text" id="database_password" name="database_password" class="input-block-level">
                    {% if error.database_password %}<span class="help-block">{{ error.database_password }}</span>{% endif %}
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Login</legend>
            <div class="control-group{% if error.login_enabled %} error{% endif %}">
                <label class="control-label" for="login_enabled">Enabled?</label>

                <div class="controls">
                    <input type="checkbox" id="login_enabled" name="login_enabled" class="input-block-level" {% if input.login_enabled %} checked{% endif %}>
                    {% if error.login_enabled %}<span class="help-block">{{ error.login_enabled }}</span>{% endif %}
                </div>
            </div>
            <div class="control-group{% if error.login_username %} error{% endif %}">
                <label class="control-label" for="login_username">Username</label>

                <div class="controls">
                    <input type="text" id="login_username" name="login_username" class="input-block-level" value="{{ input.login_username }}">
                    {% if error.login_username %}<span class="help-block">{{ error.login_username }}</span>{% endif %}
                </div>
            </div>
            <div class="control-group{% if error.login_email %} error{% endif %}">
                <label class="control-label" for="login_email">eMail</label>

                <div class="controls">
                    <input type="email" id="login_email" name="login_email" class="input-block-level" value="{{ input.login_email }}">
                    {% if error.login_email %}<span class="help-block">{{ error.login_email }}</span>{% endif %}
                </div>
            </div>
            <div class="control-group{% if error.login_password %} error{% endif %}">
                <label class="control-label" for="login_password">Password</label>

                <div class="controls">
                    <input type="password" id="login_password" name="login_password" class="input-block-level">
                    {% if error.login_password %}<span class="help-block">{{ error.login_password }}</span>{% endif %}
                </div>
            </div>
            <div class="control-group{% if error.login_password_retype %} error{% endif %}">
                <label class="control-label" for="login_password_retype">Retype</label>

                <div class="controls">
                    <input type="password" id="login_password_retype" name="login_password_retype" class="input-block-level">
                    {% if error.login_password_retype %}<span class="help-block">{{ error.login_password_retype }}</span>{% endif %}
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Import</legend>
            <div class="control-group{% if error.opml %} error{% endif %}">
                <label class="control-label" for="opml">OPML</label>

                <div class="controls">
                    <textarea id="opml" name="opml" class="input-block-level">{{ input.opml }}</textarea>
                    {% if error.opml %}<span class="help-block">{{ error.opml }}</span>{% endif %}
                </div>
            </div>
        </fieldset>
        <fieldset class="form-actions">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary">Install</button>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}
