{% extends "base.html.twig" %}

{% block content %}
<div class="container">
    <h1 class="page-header">
        <img src="img/feedbox128.png" alt="FeedBox"/> Registration
    </h1>

    <form method="post" class="form-horizontal well">
        <fieldset>
            <legend>Register a new user</legend>
            <div class="control-group{% if error.register_username %} error{% endif %}">
                <label class="control-label" for="register_username">Username</label>

                <div class="controls">
                    <input type="text" id="register_username" name="register_username" class="input-block-level" value="{{ user.name }}" required>
                    {% if error.register_username %}<span class="help-block">{{ error.register_username }}</span>{% endif %}
                </div>
            </div>
            <div class="control-group{% if error.register_email %} error{% endif %}">
                <label class="control-label" for="register_email">eMail</label>

                <div class="controls">
                    <input type="email" id="register_email" name="register_email" class="input-block-level" value="{{ user.email }}" required>
                    {% if error.register_email %}<span class="help-block">{{ error.register_email }}</span>{% endif %}
                </div>
            </div>
            <div class="control-group{% if error.register_password %} error{% endif %}">
                <label class="control-label" for="register_password">Password</label>

                <div class="controls">
                    <input type="password" id="register_password" name="register_password" class="input-block-level" required>
                    {% if error.register_password %}<span class="help-block">{{ error.register_password }}</span>{% endif %}
                </div>
            </div>
            <div class="control-group{% if error.register_password_retype %} error{% endif %}">
                <label class="control-label" for="register_password_retype">Retype</label>

                <div class="controls">
                    <input type="password" id="register_password_retype" name="register_password_retype" class="input-block-level" required>
                    {% if error.register_password_retype %}<span class="help-block">{{ error.register_password_retype }}</span>{% endif %}
                </div>
            </div>
        </fieldset>
        <fieldset class="form-actions">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}
